Source: lliurex-langpack-kde
Section: localization
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: debhelper (>= 10), qtchooser, gettext
Standards-Version: 4.1.2
Homepage: http://lliurex.net
#Vcs-Git: https://github.com/lliurex/lliurex-langpack-kde.git

Package: lliurex-langpack-kde
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Valencian translations to KDE
 Lliurex translations for Plasma desktop
